* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 100vh;
    width: 100%;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    position: relative;
    width: 450px;
    height: 60vh;
    gap: 8px;
    grid-template-columns: repeat(4 , 1fr) ;
    grid-template-rows: 90px 45px 45px 55px 55px 55px;
}

button {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #c1c5c9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
    background-color: #d0d0d0;
}

.span-btn{
    grid-column: 1/5;
}
.result{
    grid-column: 3/5;
}
.C-btn{
    grid-row: 2/4;
}
